
/* nth field background */
.acf-input-table.row-layout .acf-row:nth-of-type(2n) .acf-table {
    background:#fafafa;
}
/* left field label td */
.acf-input-table.row-layout .acf-row:nth-of-type(2n) td.acf-label {
    background:#eee;
    border-color:#ddd;
}
/* field td */
.acf-input-table.row-layout .acf-row:nth-of-type(2n) td.acf-input {
    border-color:#ddd;
}
/* left and right side - order and delete td */
.acf-input-table.row-layout .acf-row:nth-of-type(2n) td.order,
.acf-input-table.row-layout .acf-row:nth-of-type(2n) td.remove {
    background:#e3e3e3;
}
/* space between row - only border works */
.acf-input-table.row-layout > tbody > tr > td {
    border:0;
    border-bottom:3px solid #DFDFDF;
}

/* acf edit page */
.acf-field-list {background:#fff;}
.acf-field-list .field {background:none;}
.acf-field-list .field.ui-sortable-helper {background:#fff;}
.acf-field-list .field_type-tab {
    background: #f0f0f0;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #F0F0F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#F0F0F0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#F0F0F0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#F0F0F0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#F0F0F0 100%);
    border-bottom : 2px solid #F0F0F0;
}
.acf-field-list .field_type-tab .li-field_order .acf-icon {
}
.acf-field-list .field_type-tab ~ .field:not(.field_type-tab):not(.open) {
    border-left:3px solid #f0f0f0;
}

.acf-field-list-wrap {overflow:hidden;}

.acf-icon {
    border-color:#fafafa;
}
.acf-icon:hover {
    border-color:#ddd;
}
.acf-field-list .field_type-tab .acf-icon {
    border-color:#EaEaEa;
}
.acf-field-list .field_type-tab .acf-icon:hover {
    border-color:#ccc;
}

.acf-label{
	display: none;
}